.first-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 99px;
    background: black;
}

.tab-one-content{
    max-width: 550px;
}

.tab-one-content h1{
    font-size: 3.125rem;
}

.tab-one-content h2{
    font-size: 1.625rem;
}

.story-card-img{
    height: 400px;
}

.tvsection{
    border-bottom: 8px solid #222;
}